<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/styles.css" rel="stylesheet">
  <title>Planet Earth</title>
</head>
<body>
  <h1>Planet Earth</h1>

  <p>What would you like to learn about planet Earth today?</p>

  <form method="post">
    <input name="question" type="text" value="{{ question  }}">
    <button>Submit</button>
  </form>

  {% if answer %}
    <p>{{ answer }}!</p>
  {% endif %}
  
</body>
</html>